body {
    font-family:unset;
    height: 100vh;
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #ffffff;
    text-align: center;
    flex-direction: column;
    color: #0fffdf;
}

#insert {
    display: flex;
}

.key {
    border: 2px solid #000000f8;
    background-color: #810bc5;
    display: flex;
    align-items: column;
    font-size: 20px;
    flex-direction: center;
    margin: 1px;
    font-weight:lighter;
    min-width: 190px;
    position: relative;
}

.intro {
    border: 2px solid #000000;
    font-size: 25px;
    height: 25px;
    width: 55%;
    color: black;
}

.key small {
    position: absolute;
    top: -20px;
    left: 0;
    text-align: centre;
    width: 100%;
    color: #d41010;
    font-size: 16px;
    font-weight: bold;
}